{% extends 'base.html' %}
{% block content %}
<h1>{{ city.city_of_residence }}</h1>
<p>
  <b>CityId: </b>{{ city.city_id }}
</p>
<p>
  <b>Name: </b>{{ city.city_of_residence }}
</p>
<p>
  <b>Region: </b>{{ city.res_region }}
</p>
<p>
  <b>State: </b><a href="/states/{{ city.state_id }}">{{ city.res_state }}</a>
</p>
<p>
  <b>Country: </b><a href="/countries/{{ city.country_id }}">{{ city.country_of_residence }}</a>
</p>
<b>Billionaires working in the city:</b>
<ul>
  {% for b in billionaires_city %}
  <li>
    <a href="/billionaires/{{ b.billionaire_id }}">{{ b.fullname }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}