{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <!-- State Name -->
    <h1 class="text-center mb-4">{{ state.res_state }}</h1>

    <!-- State Details -->
    <div class="card shadow-sm p-4">
      <h3 class="mb-3">State Details</h3>
      <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>State ID:</strong> {{ state.state_id }}</li>
          <li class="list-group-item"><strong>Name:</strong> {{ state.res_state }}</li>
          <li class="list-group-item"><strong>Region:</strong> {{ state.res_region }}</li>
          {% if state.state_id != 1 %}
            <li class="list-group-item"><strong>Country:</strong><a href="/countries/{{ state.country_id }}" class="text-decoration-none"> {{ state.country_of_residence }}</a></li>
          {% endif %}
      </ul>

      <!-- Cities in the state -->
      <h3 class="mt-4 mb-3">
        {% if state.state_id != 1 %}
            Cities in the state:
        {% else %}
            Cities that don't belong to any state:
        {% endif %}
      </h3>
      {% if state_city %}
          <ul class="list-group">
              {% for c in state_city %}
                  <li class="list-group-item">
                      <a href="/cities/{{ c.city_id }}" class="text-decoration-none">
                          {{ c.city_of_residence }}
                      </a>
                  </li>
              {% endfor %}
          </ul>
      {% else %}
          <p class="text-muted">No cities found in this state.</p>
      {% endif %}
    </div>      
</div>
{% endblock %}
